<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success</title>
    <style>
        body {
                background-color: #f1ffff;
                text-align:center;
                margin-top: 10%;
                margin-left: 40%;
                margin-right: 40%;
                border: 1px dotted lightgrey;
                padding: 20px, 20px, 20px, 20px;
                font: caption;
        }
    </style>
</head>
<body>
<p>
    Login in success!<br>
    <br>
    Username: {{user.username}}<br>
    Email: {{user.email}}<br>
    Create time: {{user.create_time}}<br>
    Update time: {{user.update_time}}<br>
    <br>
    <a href="settings">Settings</a><br>
    <a href="logout">Logout</a>
</p>
</body>
</html>
