<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <style>
        body {
                background-color: #f1ffff;
                text-align:center;
                margin-top: 10%;
                margin-left: 40%;
                margin-right: 40%;
                border: 1px dotted lightgrey;
                padding: 20px, 20px, 20px, 20px;
                font: caption;
        }
    </style>
</head>
<body>
<p>
    <h3>Main Page</h3> <br>
    <a href="login">Login</a> <br>
    <a href="sign_up">Sign up</a><br>
    <br>
    <a href="show_users">All Users</a>
</p>

</body>
</html>
