<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body {
                background-color: #f1ffff;
                text-align:center;
                margin-top: 10%;
                margin-left: 40%;
                margin-right: 40%;
                border: 1px dotted lightgrey;
                padding: 20px, 20px, 20px, 20px;
                font: caption;
        }
    </style>
</head>
<body>
<p>
    {{message}}<br>
    <br>
    <a href="sign_up">Try again</a>
</p>

</body>
</html>
